<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.ibm.etools.mft.debug.internal.mbLaunchConfigurationDelegate">
    <stringAttribute key="BRName" value="br1"/>
    <stringAttribute key="ConnectionInfo" value=""/>
    <stringAttribute key="EGName" value="server_1"/>
    <stringAttribute key="com.ibm.etools.mft.debug.attr_hostname" value="localhost"/>
    <stringAttribute key="com.ibm.etools.mft.debug.attr_javaportname" value="3"/>
</launchConfiguration>
